In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
df = pd.read_csv("/content/new_dataset.csv")

In [6]:
df.head()

   Unnamed: 0 COMMUNITY  RANK  COM.RANK  AGGR MARK  COLLEGE CODE BRANCH CODE
0           1        BC     5       3.0     200.00             1          CS
1           2        SC     7       1.0     200.00             1          CS
2           3        BC     8       4.0     200.00             1          CS
3           4        BC    10       6.0     200.00             1          EC
4           6        OC    12       8.0     199.75             1          EE

In [7]:
df = df.drop(['Unnamed: 0'],axis=1)
df = df.drop(['BRANCH CODE'],axis=1)
dfc1 = df.loc[df['COLLEGE CODE'] == 1]
dfc2 = df.loc[df['COLLEGE CODE'] == 0]
dfc2 = dfc2.sample(frac = 1)
dfc2 = dfc2.head(4500)
df = pd.concat([dfc1,dfc2], axis=0)
df = df.sample(frac = 1)
community = {'BC':1,'SC':2,'OC':3,'BCM':4,'MBC':5,'SCA':6,'ST':7,'MBC/DNC':5,'MBCV':5,'MBCDNC':5}
df.COMMUNITY = [community[item] for item in df.COMMUNITY]
dfs = df.sort_values(['RANK','AGGR MARK'],ascending=[True,False])

In [15]:
x = dfs.drop(['COLLEGE CODE'],axis=1)
x.head()

       COMMUNITY  RANK     COM.RANK  AGGR MARK
40279          5     1  5905.195401   200.0000
19109          1     1     1.000000   200.0000
63491          1     1  5905.195401   200.0000
26049          1     1  5905.195401   199.6667
26050          3     2  5905.195401   199.6667

In [16]:
label = dfs['COLLEGE CODE']
label

40279    1
19109    1
63491    1
26049    1
26050    1
        ..
50491    1
63403    0
63445    0
63462    0
50492    1
Name: COLLEGE CODE, Length: 9306, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x, label, test_size=0.20, random_state=42)

In [18]:
X_train.shape

(7444, 4)

In [19]:
X_test.shape

(1862, 4)

In [20]:
y_train.shape

(7444,)

In [21]:
y_test.shape

(1862,)

In [23]:
print(X_train.shape,X_test.shape)

(7444, 4) (1862, 4)